.button{

display: block;
width: 100px;
padding: 12px;
border: 1px solid #77aaaa;
font-family: arial;
font-weight: bold;
text-transform: uppercase;
color: #fff;
font-size: 14px;
text-align: center;
border-radius: 4px;
background: #aadddd;
background: -moz-linear-gradient(top, red 0%, #77aaaa 100%);
background: -webkit-linear-gradient(top, red 0%, #77aaaa 100%);
background: linear-gradient(top, red 0%, #77aaaa 100%);
box-shadow: 2px 2px 4px 2px rgba(40,40,40,0.5);


}

.button:hover{

background: #ff4acc;
background: -moz-linear-gradient(bottom, red 0%, #77aaaa 100%);
background: -webkit-linear-gradient(bottom, red 0%, #77aaaa 100%);
background: linear-gradient(bottom, red 0%, #77aaaa 100%);

}



/*

Dodanie preifxów dla przeglądarek konkretnych do odczytania gradientów
-moz- mozilla
-webkit - safari chrome etc.

linear-gradient komenda (pozycja, kolor %, kolor %)
dodano trzy gradienty (browser odczytuje po kolei jak ma odczytać

box-shadow dodany (poziom, pion, blurry, zakres-wielkosc cienia, kolor)

*/