/********************************************
*
* Autor: Maciej Walentynowicz
* Data 28.05.2022r.
*
*************************************/


/* wystylizować wszyste p */


p{
font-size: 22px;
color: blue; }

#header p{
font-size: 54px;

}

/*wystylizować nagłówki*/

h1{
font-size: 8px;

}

span{
font-size: 80px;

}

div{
width: 50%;
background-color: chartreuse;

}